.skillsBox {
  display: flex;
  height: 6.3vw;
  width: 14vw;
  background-color: var(--SkillsBoxColor);
  border-top-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  /* margin-top: 40px; */
  /* margin-left: 10px; */
  /* margin-right: 20px; */
}

.imaTag{
  height: 3vw;
  width: 3vw;
}
.flutterLogoStyle{
  height: 3vw;
  /* width: 2vw; */
  /* background-color: green; */
}