.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AvatarTag {
  width: 70vw;
  height: 70vw;
  object-fit: cover;
  border-radius: 50%;
  /* object-fit: cover; */
  margin-top: 7vw;
  box-shadow: 0px 1px 2px 0px var(--AvatarTagShadowColor),
    1px 2px 4px 0px var(--AvatarTagShadowColor),
    2px 8px 16px 0px var(--AvatarTagShadowColor),
    2px 8px 20px 0px var(--AvatarTagShadowColor);
}

.h5Tag {
  margin-top: 15vw;
  font-size: 7vw;
  color: white;
  font-weight: 400;
}

.nameTag {
  font-size: 11vw;
  color: var(--Cyan);
  font-weight: 700;
}
.h1Tag {
  font-size: 7vw;
  color: white;
  font-weight: 700;
}

.developerTag {
  font-size: 5.5vw;
  color: var(--Cyan);
  font-weight: 700;
}

.descriptionTag {
  text-align: center;
  margin: 6vw;
  font-size: 5vw;
  color: white;
}

.socialMediaIcon {
  height: 12vw;
  width: 12vw;
}

.playStoreLogo {
  height: 12vw;
  width: 12vw;
  /* margin-left: 7vw; */
}
.playStoreLogoAndliveAppTextParentContainer{
  display: flex;
  height: 14vw;
  width: 100%;
  flex-Direction:row;
  padding-left:7vw;
  margin-Bottom:3vw;
  gap:3vw;
  justify-Content:start;
  align-Items:center;
  /* border-Top: 0.5vw solid var(--Cyan); */
  border-Bottom: 0.5vw solid var(--Cyan);
}
.liveAppText {
  color: white;
  font-size: 6vw;
  font-weight: 500;
}

.liveApplogo {
  height: 10vw;
  height: 10vw;
  margin-left: 6vw;
}

.appNameText {
  font-size: 3.5vw;
  color: var(--textColorWithe);
  margin-left: 2vw;
}

.appInstallButton {
  height: 9vw;
  width: 26vw;
  background-color: var(--Cyan);
  border-radius: 20px;
  color: #000000;
  font-size: 3vw;
  /* margin-right: 6vw; */
  text-align: center;
}

.linkIconAndSocialMediaParentContainer{
  display: flex;
  height: 14vw;
  width: 100%;
  flex-Direction:row;
  padding-left:7vw;
  margin-Bottom:3vw;
  gap:3vw;
  justify-Content:start;
  align-Items:center;
  border-Top: 0.5vw solid var(--Cyan);
  border-Bottom: 0.5vw solid var(--Cyan);
}

.linkIconStyle{
  color: #00bfff;
  font-size: 7.5vw;
}
.socialMediaTextStyle{
  font-size: 6vw;
  font-weight: 500;
  color: var(--textColorWithe);
}



.callIcon {
  color: #3fff00;
  font-size: 8vw;
}

.phoneNumberText {
  color: var(--textColorWithe);
  font-size: 4.5vw;
  margin-left: 5vw;
}

.copyIcon {
  color: white;
  font-size: 5vw;
  margin-left: 22vw;
}
.emailIcon {
  color: #00bfff;
  font-size: 8vw;
}

.copyMailIcon {
  color: white;
  font-size: 5vw;
  margin-left: 10vw;
}

/** tableteView size */
@media (max-width: 850px) {
  .youtube_facebook_parent_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 5vw;
    padding-left: 6vw;
    gap: 12.8vw;
    /* background-color: pink; */
  }
  .youtube_logo_img {
    width: 12vw;
    height: 12vw;
  }
  .facebook_logo_img {
    width: 10vw;
    height: 10vw;
  }
}

/** tableteView size */
@media (max-width: 480px) {
  .youtube_facebook_parent_container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-bottom: 5vw;
    padding-left: 7vw;
    gap: 14vw;
    /* background-color: greenyellow; */
  }

  .youtube_logo_img {
    width: 10vw;
    height: 10vw;
  }
  .facebook_logo_img {
    width: 9vw;
    height:9vw;
  }
}
