.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AvatarTag {
  width: 70vw;
  height: 70vw;
  object-fit: cover;
  border-radius: 50%;
  /* object-fit: cover; */
  margin-top: 7vw;
  box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
    1px 2px 4px 0px rgba(0, 255, 255, 0.7),
    2px 8px 16px 0px rgba(0, 255, 255, 0.7),
    2px 8px 20px 0px rgba(0, 255, 255, 0.7);
}

.h5Tag {
  margin-top: 15vw;
  font-size: 7vw;
  color: white;
  font-weight: 400;
}

.nameTag {
  font-size: 11vw;
  color: #01eefe;
  font-weight: 700;
}
.h1Tag {
  font-size: 7vw;
  color: white;
  font-weight: 700;
}

.developerTag {
  font-size: 5.5vw;
  color: #01eefe;
  font-weight: 700;
}

.descriptionTag {
  text-align: center;
  margin: 6vw;
  font-size: 5vw;
  color: white;
}


.socialMediaIcon{
  height: 12vw;
  width: 12vw;
}


.playStoreLogo{
  height: 10vw;
  width: 10vw;
  margin-left: 7vw;
}

.liveAppText{
  color: white;
  font-size: 6vw;
  margin-left: 6vw;
  font-weight: 500;
}

.divider{
  height: 0.8vw;
  width: 95%;
  margin-top: 4vw;
  margin-bottom: 4vw;
  /* background-color: white; */
  background-color:#f8f8ff  ;
}



.liveApplogo{
  height: 10vw;
  height: 10vw;
  margin-left: 6vw;
}

.appNameText{
  font-size: 3.5vw;
  color: white;
  margin-left: 2vw;
}

.appInstallButton{
  height: 9vw;
  width: 26vw;
  background-color: #01eefe;
  border-radius: 20px;
  color: #000000;
  font-size: 3vw;
  /* margin-right: 6vw; */
  text-align: center;
}






.callIcon{
  color: #3fff00 ;
  font-size: 8vw;
}

.phoneNumberText{
  color: white;
  font-size: 4.5vw;
  margin-left: 5vw;
}

.copyIcon{
  color: white;
  font-size: 5vw;
  margin-left: 18vw;
}
.emailIcon{
  color: #00bfff;
  font-size: 8vw;
}

.copyMailIcon{
  color: white;
  font-size: 5vw;
  margin-left: 8vw;
}