.mainContainer {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.childContainer {
  /* height: 160px; */
  /* max-height: 150px; */
  display: flex;
  width: 95%;
  background-color: #3c424e;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
}

.crewTextBox {
  margin-left: 30px;
  margin-top: 20px;
  color: white;
}

.nameTag {
  font-size: 25px;
  font-weight: 600;
}

.roleTag {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 15px;
}

.websiteLinkTextTag {
  font-size: 20px;
  margin-bottom: 30px;
}

.linkTag {
  font-size: 20px;
  margin-left: 5px;
  color: cornflowerblue;
  margin-bottom: 30px;
}

.visitButton {
  background-color: #01d7e6;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

/** Tablets size */
@media (max-width: 900px) {
  .mainContainer {
    /* background-color: greenyellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }

  .childContainer {
    /* height: 160px; */
    /* max-height: 150px; */
    display: flex;
    width: 95%;
    background-color: #3c424e;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
  }

  .crewTextBox {
    margin-left: 30px;
    margin-top: 20px;
    color: white;
  }

  .nameTag {
    font-size: 25px;
    font-weight: 600;
  }

  .roleTag {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .websiteLinkTextTag {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .linkTag {
    font-size: 20px;
    margin-left: 5px;
    color: cornflowerblue;
    margin-bottom: 30px;
  }

  .visitButton {
    background-color: #01d7e6;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
}

/** Mobile size */
@media (max-width: 480px) {
  .mainContainer {
    /* background-color: blue; */
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    gap: 3vw;
  }

  .childContainer {
    height: 25vw;
    /* max-height: 150px; */
    width: 90%;
    background-color: #3c424e;
    /* background-color: yellow; */
    border-radius: 3vw;
    justify-content: center;
    align-items: center;
  }

  .crewTextBox {
    margin-left: 4vw;
    margin-top: 0px;
    color: white;
  }

  .nameTag {
    font-size: 3vw;
    font-weight: 600;
    margin-top: 30px;
  }

  .roleTag {
    font-size: 2.6vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
  }

  .websiteLinkTextTag {
    font-size: 3vw;
    /* margin-bottom: 30px; */
  }

  .linkTag {
    font-size: 3vw;
    margin-left: 1vw;
    color: cornflowerblue;
    /* margin-bottom: 0px; */
  }

  .visitButton {
    background-color: #01d7e6;
    width: 21vw;
    height: 8vw;
    border-radius: 4vw;
    font-weight: 600;
    font-size: 2.2vw;
    align-items: center;
    justify-content: center;
    margin-right: 3vw;
  }
}


