.mainContainer {
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 30px;
}

.childContainer {
  /* height: 160px; */
  /* max-height: 150px; */
  display: flex;
  width: 95%;
  background-color: #3c424e;
  border-radius: 18px;
  justify-content: center;
  align-items: center;
}

.crewTextBox {
  margin-left: 30px;
  margin-top: 20px;
  color: white;
}

.nameTag {
  font-size: 25px;
  font-weight: 600;
}

.roleTag {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 15px;
}

.websiteLinkTextTag {
  font-size: 20px;
  margin-bottom: 30px;
}

.linkTag {
  font-size: 20px;
  margin-left: 5px;
  color: cornflowerblue;
  margin-bottom: 30px;
}

.visitButton {
  background-color: #01d7e6;
  width: 150px;
  height: 45px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

/** Tablets size */
@media (max-width: 900px) {
  .mainContainer {
    /* background-color: greenyellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }

  .childContainer {
    /* height: 160px; */
    /* max-height: 150px; */
    display: flex;
    width: 95%;
    background-color: #3c424e;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
  }

  .crewTextBox {
    margin-left: 30px;
    margin-top: 20px;
    color: white;
  }

  .nameTag {
    font-size: 25px;
    font-weight: 600;
  }

  .roleTag {
    font-size: large;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .websiteLinkTextTag {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .linkTag {
    font-size: 20px;
    margin-left: 5px;
    color: cornflowerblue;
    margin-bottom: 30px;
  }

  .visitButton {
    background-color: #01d7e6;
    width: 150px;
    height: 45px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
}

/** Mobile size */
@media (max-width: 480px) {
  .mainContainer {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
  }

  .childContainer {
    height: 93px;
    /* max-height: 150px; */
    width: 90%;
    background-color: #3c424e;
    border-radius: 18px;
    justify-content: center;
    align-items: center;
  }

  .crewTextBox {
    margin-left: 18px;
    margin-top: 0px;
    color: white;
  }

  .nameTag {
    font-size: 12px;
    font-weight: 600;
    margin-top: 30px;
  }

  .roleTag {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .websiteLinkTextTag {
    font-size: 11px;
    /* margin-bottom: 30px; */
  }

  .linkTag {
    font-size: 11px;
    margin-left: 5px;
    color: cornflowerblue;
    /* margin-bottom: 0px; */
  }

  .visitButton {
    background-color: #01d7e6;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}

.bloc-tabs {
  display: flex;
  position: relative;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs {
  background: green;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% +2px);
  height: 5px;
  background: rgb(88, 147, 241);
}

.button {
  border: none;
}

.content-tabs {
  flex-grow: 1;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

.tabContainer {
  display: flex;
  width: 100%;
  /* height: 2vw; */
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
}

.tab {
  display: flex;
  /* width: 100%; */
  /* background-color: red; */
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 1vw;
}


.activeTabText{
  color: #01d7e6;
  font-size: 3.8vw;
  font-weight: 500;
}
.notActiveTabText{
  color: white;
  font-size: 3.8vw;
  font-weight: 500;
}


.activeTabs {
  background-color: #01d7e6;
  width: 38vw;
  height: 1vw;
}
.activeNotTabs {
  background-color: #20242d;
  width: 38vw;
  height: 1vw;
}
