.container-div {
  display: flex;
  flex-wrap: wrap;
  padding-left: px;
  padding-top: 30px;
}

/* {display:"flex",flexWrap:"wrap",gap:"15px",paddingLeft:"50px",paddingTop:"10px"} */

.desktopView {
  display: block;
}
.mobileView {
  display: none;
}

.tableteView{
  display: none;
}

/** tableteView size */
@media (max-width: 850px) {
  .desktopView {
    display: none;
  }
  .mobileView {
    display: none;
    /* height: 100px;
    width: 100%;
    background-color: red; */
  }

  .tableteView{
    display: block;
  }


  .tabContainer {
    display: flex;
    width: 100%;
    /* height: 2vw; */
    /* justify-content: space-around; */
    overflow: auto;
    overflow-y: hidden;
    align-items: center;
    /* background-color: red; */
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 3vw;
  }
  
  .tab {
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  
  .activeTabText {
    color: #01d7e6;
    font-size: 3vw;
    font-weight: 600;
  }
  .notActiveTabText {
    color: white;
    font-size: 3vw;
    font-weight: 600;
  }
  
  .activeTabs {
    background-color: #01d7e6;
    width: 30vw;
    height: 0.6vw;
  }
  .activeNotTabs {
    background-color: #20242d;
    width: 30vw;
    height: 0.6vw;
  }
  
  .frontendProjectActiveTab {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellowgreen; */
    margin-top: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .frontendProjectNotActiveTab {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    /* background-color: yellowgreen; */
  }
  
}

/** Mobile size */
@media (max-width: 480px) {
  .desktopView {
    display: none;
  }
  .tableteView{
    display: none;
  }

  .mobileView {
    display: block;
    /* height: 100px;
    width: 100%;
    background-color: red; */
  }


  .tabContainer {
    display: flex;
    width: 100%;
    /* height: 2vw; */
    /* justify-content: space-around; */
    overflow: auto;
    overflow-y: hidden;
    align-items: center;
    /* background-color: red; */
    padding-left: 3vw;
    padding-right: 3vw;
  }
  
  .tab {
    display: flex;
    /* background-color: red; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
  }
  
  .activeTabText {
    color: #01d7e6;
    font-size: 3.8vw;
    font-weight: 600;
  }
  .notActiveTabText {
    color: white;
    font-size: 3.8vw;
    font-weight: 600;
  }
  
  .activeTabs {
    background-color: #01d7e6;
    width: 30vw;
    height: 1vw;
  }
  .activeNotTabs {
    background-color: #20242d;
    width: 30vw;
    height: 1vw;
  }
  
  .frontendProjectActiveTab {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellowgreen; */
    margin-top: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .frontendProjectNotActiveTab {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    /* background-color: yellowgreen; */
  }
  
}
