@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
}

.main {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 48%,
    rgba(1, 214, 254, 1) 71%
  );
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  /* overflow-y : scroll; */
}

.div {
  width: 96%;
  height: 93vh;
  background-color: #20242d;
  /* background-color: red; */
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}


.HomeDesktopView {
  display: block;
  /* height: 90%; */
}
.HomeMobileView {
  display: none;
}

/** Mobile size */
@media (max-width: 480px) {
  .div {
    width: 96%;
    height: 96vh;
    background-color: #20242d;
    /* background-color: red; */
    /* position: absolute; */
    border-radius: 5vw;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    overflow: auto;
  }
}

/** Tablete size */
@media (max-width: 850px) {

  .div {
    width: 96%;
    height: 96vh;
    background-color: #20242d;
    /* background-color: red; */
    /* position: absolute; */
    border-radius: 5vw;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    overflow: auto;
  }

  .HomeDesktopView {
    display: none;
  }
  .HomeMobileView {
    display: block;
  }
}
