@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --Cyan:#01EEFE;
  --Black:#000000;
  --mainBoxColor:#20242d;
  --textColorWithe:#FFFFFF;
  --SkillsBoxColor:#1b1b1b;
  --mainBlack:rgba(0, 0, 0, 1);
  --mainCyan:rgba(1, 214, 254, 1);
  --AvatarTagShadowColor:rgba(0, 255, 255, 0.7);
}

a {
  text-decoration: none;
}

* {
  margin: 0px;
  padding: 0px;
}


.main {
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    var(--mainBlack) 48%,
    var(--mainCyan) 71%
  );
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  /* overflow-y : scroll; */
}

.div {
  width: 96%;
  height: 93vh;
  background-color: var(--mainBoxColor);
  /* background-color: red; */
  position: absolute;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
}


.HomeDesktopView {
  display: block;
  /* height: 90%; */
}
.HomeMobileView {
  display: none;
}

/** Mobile size */
@media (max-width: 480px) {
  .div {
    width: 96%;
    height: 96vh;
    background-color: var(--mainBoxColor);
    /* background-color: red; */
    /* position: absolute; */
    border-radius: 5vw;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    overflow: auto;
  }
}

/** Tablete size */
@media (max-width: 850px) {

  .div {
    width: 96%;
    height: 96vh;
    background-color: var(--mainBoxColor);
    /* background-color: red; */
    /* position: absolute; */
    border-radius: 5vw;
    /* top: 50%; */
    /* left: 50%; */
    margin-top: 2vw;
    transform: translate(-50%, -50%);
    overflow: auto;
  }

  .HomeDesktopView {
    display: none;
  }
  .HomeMobileView {
    display: block;
  }
}
