.NotSelectedButton {
  height: 35px;
  width: 115px;
  background-color: #01eefe;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 15px;
  margin-top: 20px;
  color: black;
}

.SelectedButton {
  height: 35px;
  width: 115px;
  background-color: #20242D;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 15px;
  margin-top: 20px;
  color: #01eefe;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/** Tablete size  */
@media (max-width: 850px) {
  .NotSelectedButton {
    height: 4vw;
    width: 13vw;
    background-color: #01eefe;
    /* background-color: red; */
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
    font-size: 1.5vw;
    margin-right: 15px;
    margin-top: 20px;
  }
  .SelectedButton {
    height: 4vw;
    width: 13vw;
    background-color: #20242D;
    /* background-color: red; */
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #01eefe;
    font-size: 1.5vw;
    margin-right: 15px;
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
}