
.HomeDesktopView {
    display: block;
    /* height: 90%; */
  }
  .HomeMobileView {
    display: none;
  }
  
  /** Mobile size */
  @media (max-width: 480px) {
    .div {
      width: 96%;
      height: 96vh;
      background-color: #20242d;
      /* background-color: red; */
      /* position: absolute; */
      border-radius: 5vw;
      /* top: 50%; */
      /* left: 50%; */
      transform: translate(-50%, -50%);
      overflow: auto;
    }
  }
  
  /** Tablete size */
  @media (max-width: 850px) {
  
    .div {
      width: 96%;
      height: 96vh;
      background-color: #20242d;
      /* background-color: red; */
      /* position: absolute; */
      border-radius: 5vw;
      /* top: 50%; */
      /* left: 50%; */
      transform: translate(-50%, -50%);
      overflow: auto;
    }
  
    .HomeDesktopView {
      display: none;
    }
    .HomeMobileView {
      display: block;
    }
  }
  
